#cart{
  //  --ion-color: rgba(255, 174, 0, 0.925);
   color:rgba(255, 174, 0, 0.925);
   
}
#rs{
    font-size: larger;
    margin-top:5px;
}
  #cart-badge{
      margin-bottom: 15px;
      margin-right:5px;
      
  }  
