h1,h2,h3,h4,h5,h6,p{
    font-family: Georgia ;
}
#p{
    color: royalblue;
}
#header{
    --ion-background-color:#ffce00;
    text-align: center;
}
.ion-margin{
    --ion-margin:50px;
    --ion-color:#222428;
    font-size: 29px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
// #image{
//     height:20%;
//     width: 60%;
   
//     /* Magic! */
    
// }
// .col,ion-img{
//     height: 250px;
    
// }
