.my-custom-class {
    --background: #222;
    --spinner-color: #fff;
  
    color: #fff;
  }
  ion-card.card-discreption {
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    border-radius: 8px;
    border-left: none;
    border-right: none;
}  