h1,h2,h3,h4,h5,h6{
  font-family: Georgia,;
    font-size: larger;
   
}
#p{
    color: royalblue;
}
#header{
    --ion-background-color:#ffce00;
    text-align: center;
}
.ion-margin{
    --ion-margin:50px;
    --ion-color:#222428;
    font-size: 29px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
// #card{
//     // background-color:#fbff4f;
//     box-shadow: none;
// }
ion-chip ,ion-icon,ion-label{
    
    font-size: larger;
    
}
ion-chip{
    margin-top: 20px;
}
#title{
    font-size: x-large;
}
.my-custom-menu {
    --width: 500px;
  }

  ion-card{
    // --background:rgba(255, 174, 0, 0.925);
    border-top: 5px solid rgba(255, 174, 0, 0.925);
}