<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="['/address']"></ion-back-button> 
   </ion-buttons>
    <ion-title>payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card >
          <ion-card-content>
            <ion-list>
              <ion-radio-group >
                <ion-list-header>
                  <ion-label>Payment Options</ion-label>
                </ion-list-header>
            
                <ion-item>
                  <ion-label>PhonePay(UPI, Wallet)</ion-label>
                  <ion-radio slot="start"></ion-radio>
                </ion-item>
            
                <ion-item>
                  <ion-label>Paytm(UPI, Wallet)</ion-label>
                  <ion-radio slot="start" ></ion-radio>
                </ion-item>
            
                <ion-item>
                  <ion-label>COD</ion-label>
                  <ion-radio slot="start" ></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-card-content>
        </ion-card>
      
        <ion-card >
          <ion-card-header>
            Price Details
          </ion-card-header>
          <ion-card-content>
           <ion-grid>
             <ion-row>
               <ion-col >
                 <h2><i class="fa fa-rupee"></i>234</h2>
              <p id="p">View price Details</p>
               </ion-col>
               <ion-col>
                 <ion-button color="warning" (click)="presentAlert()">Continue</ion-button>
              </ion-col>
             </ion-row>
           </ion-grid>
          </ion-card-content>
        </ion-card>
        
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">