<ion-header >
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="['/show-shop-d']"></ion-back-button> 
   </ion-buttons>
  <ion-title> Choose Cloth</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<ion-grid>
  <ion-row class="margin">
    <ion-col  size-md="6" offset-md="3" class="ion-text-center" >
    
        <ion-row>
          <ion-col >
            <ion-card>
              <ion-card-content>
                MEN's WEAR
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col >
            <ion-card>
              <ion-card-content>
               WOMEN's WEAR
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col >
            <ion-card>
              <ion-card-content>
                KIDS's WEAR
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size=6>
            <ion-card>
              <ion-card-content>
              HOUSEHOLD CLOTH
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size=6>
            <ion-card>
              <ion-card-content>
             SCHOOL 's UNIFORM
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <ion-card-content>
                OTHER CLOTHES 
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
     
    
    </ion-col>
  </ion-row>
 
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button shape="round" fill="outline" color="warning" [routerLink]="['/rate']">
      Rate Estimator
      </ion-button>
    </ion-col>

  </ion-row>
</ion-grid>
</ion-content>
